body {
	font: 12px Arial;
	color: #222;
	text-align: center;
	padding: 35px;
}

form, p, span {
	margin: 0;
	padding: 0;
}

input {
	font: 12px Arial;
}

a {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper, #login {
	margin: 0 auto;
	padding-bottom: 25px;
	background: #ebf4fb;
	width: 504px;
	border: 1px solid #acd8f0;
}

#login {
	padding-top: 18px;
}

#login p {
	margin: 5px;
}

#chatbox {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 270px;
	width: 430px;
	border: 1px solid #acd8f0;
	overflow: auto;
}

#usermsg {
	width:395px;
	border:1px solid #acd8f0;
}

#submit {
	width: 60px;
}

.error {
	color: #ff0000;
}

#menu {
	padding: 12.5px 25px 12.5px 25px;
}

.welcome {
	float: left;
}

.logout {
	float: right;
}

.msgln {
	margin: 0 0 2px 0;
}